.seat-container {
  background-color: #f4f3f159;
  padding: 2em;
  border-radius: 4px;
  margin: 50px auto;
  box-shadow: 1px 1px 10px 2px #f4f3f1;
}
.row {
  display: flex;
}

.seat {
  width: 50px;
  border-radius: 4px;
}

.seat--legend {
  font-size: 10px;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
}

.seat.is-unavailable img {
  opacity: 0.25;
  pointer-events: none;
}

.seat.is-booked img {
  background-color: aquamarine;
  pointer-events: none;
}

.seat.is-selected img {
  background-color: cadetblue;
}

img {
  width: 100%;
  cursor: pointer;
  border-radius: 4px;
}

.seat:not(.seat--legend):not(.is-selected) img:hover {
  background-color: tomato;
}

.text-center {
  text-align: center;
}